<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Classes</title>
    <h1>Classes Page</h1>
    <head>
    
    <body>
    <h3>My classes this semester:</h3>
    <p>APMA 2000 - Multi Calc </p>
    <p>CHEM 1404 - Gen Chem II</p>
    <p>CHEM 1500 - Gen Chem Lab</p>
    <p>ENGI 1006 - This class</p>
    <p>ENGI 1102 - AoE</p>
    <p>PHYS 1402 - Physics</p>
    
    <p>My favorite class this semester was probably going to be chem lab because 
    I really enjoy chemistry and found that class interesting, but once we had to 
    switch to online learning the fun of that class kinda died out and it started 
    to feel boring because it was just a lot of reading. Given everything, this 
    class (1006) actually ended up becoming my favorite because I already enjoyed 
    computer science and had been excited to get a chance to take it in school, 
    but especially because it was a pretty seamless transition to distance learning 
    so I didn't really feel like I missed out on anything too crucial to learining 
    in or enjoying this class. My AoE class also looked like it was going to be a 
    lot of fun so it was definitely disappointing when all of the group work and 
    hands-on project type assignmetns were replaced with essays (which I have never 
    really liked or been good at). It is unfortunate that we lost out on so much 
    of the things on-campus learning brings, but I think I was still able to get 
    a lot out of most of my classes so overall I am happy with how this semester
    concluded. Thanks for helping make that happen, Have a safe summer! </p>
    
    </body>
    
</html>