<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <h1>Blake Turner</h1>
    <head>
    <body>
    <img src = "https://gocolumbialions.com/images/2019/8/27/TurnerBlake.jpg?width=300" />
    <p>I am a first year.</p>
    <p>My major is undeclared but I am deciding between BME, ChemE and CS.</p>
    <p> <a href="/classes">Classes Page</a> </p>
    <p> <a href="/stay_at_home">Some Quarantine Activities</a> </p>
    <p> Link to a fun website: <a href="http://www.reciperoulette.tv/">Random Recipe Wheel</a> </p>
    <img src = "https://www.icevonline.com/application/files/4615/5845/8206/Summer_Banner-01.png" />
    <p></p>
    <a href="https://www.icevonline.com/application/files/4615/5845/8206/Summer_Banner-01.png">Above image source</a> 

    </body>
</html>