<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <h1>Blake Turner</h1>
    <head>
    <body>
    <img src = "https://gocolumbialions.com/images/2019/8/27/TurnerBlake.jpg?width=300" />
    <p>I am a first year.</p>
    <p>My major is undeclared but I am deciding between BME, ChemE and CS.</p>
    <p> <a href="/classes">Classes Page</a> </p>
    <p> <a href="/stay_at_home">Some Quarantine Activities</a> </p>
    <p> <a href="https://lh3.googleusercontent.com/proxy/b0O_Jozwh0jkkJc1dNHsONQjJ7hNG_JSx784QdengcBJNsMSx1ECYxoHait87JfL76vVo5LgChoSblUPX2w3gMyipEnpPCruaEAE_pAah7fxS_UAyoRnPw2yuWmMucDDCKd5_n-EMuvDzMZlDxtzgbt_ILjOK4kTrhe1I40">Thanks!</a> </p>
    </body>
</html>