<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Quarantine Activities</title>
    <h1>Stuff To Do During the Stay-at-Home orders</h1>
    <head>
    
    <body>
    <h3>My state has been under a stay-at-home order for a while so I thought I'd 
    use the second page of this assignment to list some things I've been doing 
    to pass the time.</h3>
    <p>1. baking with my family</p>
    <p>2. painting with my sister</p>
    <p>3. Taking some soccer balls and my puppy to the park</p>
    <p>4. Jogging / walking on the beach or trails when they're open</p>
    <p>5. Checking in on friends and family via FaceTime and Zoom</p>
    <p>6. Snacking a lot</p>
    <p>7. Schoolwork but that goes last because it's almost over</p>
    
    </body>
    
</html>