<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Quarantine Activities</title>
    <h1>Stuff To Do During the Stay-at-Home orders</h1>
    <head>
    
    <body>
    <h5>My state has been under stay-at-home order for a while so I thought I'd use the second page of this assignment to put some things we've been doing to pass the time.</h5>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    
    <p></p>
    
    </body>
    
</html>